:root {
    --color: #ffffff;
    --title-opacity: 1;
    --vertical-align: safe center;
    --top-padding: 50px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

}

body {
    background: #222222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: small;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: var(--vertical-align);
    justify-content: center;
    padding: 60px;
    height: 100%;
    transition: opacity 150ms ease-in;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgba(255,255,255,0.4) rgba(0,0,0,0.2);
    scrollbar-width: thin;
}

#noBookmarks {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    color: #ffffff;
    position: fixed;
    width: 100%;
}

.hide {
    opacity: 0;
}

.tile {
    width: 188px;
    height: 140px;
    border-radius: 12px;
    margin: 12px;
}

.tile:hover {

}

.tile-main {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.tile-content {
    width: 100%;
    height: 122px;
    border-color: transparent;
    border-radius: inherit;
    background-origin: content-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.tile-title {
    opacity: var(--title-opacity);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px 0 10px;
}

a {
    text-decoration: none;
    color: var(--color);
    outline: 0;
}

.selected {
    opacity: 0;
}

.dragging {
    opacity: 1;
}

.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    background-color: #111111;
    color: #ffffff;
    border: 1px solid grey;
    transition: visibility 0s, opacity 160ms ease;
}
.menu-options {
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
}
.menu-separator {
    padding: 5px;
}
.menu-option {
    cursor: default;
    padding: 5px 25px;
}
.menu-option:hover {
    background-color: #333333;
}

#settingsMenu {
    padding: 0;
}
#settingsMenu > .menu-options {
    margin: 0;
}

.modal {
    transform: translateX(100%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 150ms;
}

/* Modal Content */
.modal-content {
    transform: scale(0.8);
    opacity: 0;
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 5px;
    width: 420px;
    box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2);
    transition: 160ms;
}

.modalImg-item {
    height: 180px;
}

#modalImgContainer {
    padding-bottom: 2em;
}

/* The Close Button */
.closeBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.tileForm {
    padding: .6em;
}

.formItem {
    width: 100%;
    padding: .4em;
}

.formItem > input,
.formItem > textarea,
.formItem > button {
    padding: .6em;
    width: 100%;
}

.formItem > button {
    color: #ffffff;
    border: none;
}

.formItem > .save {
    background-color: #1681d9;
}
.formItem > .close {
    background-color: dimgrey;
}

.formItem > .save:hover {
    background-color: #1692EA;
}

.formItem > .close:hover {
    background-color: #707070;
}

input {
    border: 1px solid black
}
input:focus {
    outline: 2px solid gold;
}

/* overrides */
.fc-slide {
    padding: 0;
}

.fc-slide img {
    height: 180px;
}

.fc-image img, .fc-image picture {
    height: 180px;
}

.fc-arrows .fc-next.fc-is-active .fc-icon, .fc-arrows .fc-prev.fc-is-active .fc-icon {
    color: #ccc;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 320px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    transform: translateX(100%);
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background: rgba(0,0,0,1);
    box-shadow: none;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 360ms; /* 0.5 second transition effect to slide in the sidenav */
    color: white;
    display: flex;
    justify-content: center;
}
