.sidenav .settings {
    width: 100%;
     padding: 25px;
    height: 100%;
 }

.sidenav h1 {
    font-weight: lighter;
    /*
    background-image: url('../icons/icon48-white.png');
    background-repeat: no-repeat;
    background-position: right;
     */
}

.sidenav hr {
    border: 1px solid rgba(255,255,255,0.1);
    margin: 2em 0 2em 0;
}

.sidenav div {
    padding: 0.3em 0;
}

.sidenav a {
    text-decoration: none;
    color: white;
}
.sidenav a:hover {
    background-color: rgba(255,255,255,0.2);
}

.sidenav button {
    padding: .6em;
    width: 100%;
    background-color: #1681d9;
    color: #ffffff;
    border: none;
}

.sidenav button:hover {
    background-color: #1692EA;
}

.sidenav .default {
    background-color: #cccccc;
    color: #000000;
}
.sidenav .default:hover {
    background-color: #ffffff;
}

.sidenav #preview {
    width: 160px;
    max-height: 160px;
    margin-bottom: 0.8em;
    padding: 0.4em;
    display: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

.sidenav #previewContainer {
    display: none;
}

.sidenav .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.sidenav .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidenav .controls {
    align-items: flex-end;
}


/* The switch - the box around the slider */
.sidenav .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.sidenav .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.sidenav .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.sidenav .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.sidenav input:focus {
    outline: none;
}

.sidenav input:checked + .slider {
    background-color: #2196F3;
}

.sidenav input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.sidenav input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.sidenav .slider.round {
    border-radius: 34px;
}

.sidenav .slider.round:before {
    border-radius: 50%;
}

.sidenav input[type="color"] {
    opacity: 0;
    display: block;
    width: 50px;
    height: 24px;
    border: none;
}
.sidenav #color-picker-wrapper {
    width: 50px;
    padding: 0;
    border-radius: 34px;
    border: 1px solid rgba(255,255,255,0.2);
    /*float: left;*/
}

.sidenav [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.sidenav [type="file"] + label {
    background: #ffffff;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: default;
    display: inline-block;
    outline: none;
    padding: 0.3em 1em;
    position: relative;
    transition: all 0.2s;
    vertical-align: middle;
    margin-bottom: .4em;
}

.sidenav [type="file"] + label:hover {
    background-color: #cccccc;
}

.sidenav #toast {
    display: flex;
    justify-content: center;
    opacity: 0;
    color: lightgreen;
    transition: opacity 200ms ease-in-out;
}
